#db details
SECRET_KEY=<secret_key...>
PG_DB=forum
PG_USER=postgres
PG_PASSWORD=<password...>
DB_HOST=backend
DB_PORT=5432
#DB_PORT_OUT=55432 # Check if there is a conflict with the setup on port 55432

#pgadmin user
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=<password...>

# Django superuser
DJANGO_SUPERUSER_EMAIL=admin@mail.net
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=<password...>

#SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=someuser@gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=test@test.com
EMAIL_HOST_PASSWORD=<password...>

#origin hostnames allowed to make cross-site HTTP requests
CORS_ORIGIN_WHITELIST=

# Web
DOMAINE=<domaine>