<!DOCTYPE html>
{% load static %}

<html>

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'css/img/f.ico' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>

<body>
    <main class="login-admin-form">
        <h3 class="login-form-h3">Forum sandbox</h3>
        <div class="box-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login-admin-submit">Submit</button>
            </form>
        </div>
    </main>
    <footer class="login-admin-footer">
        <p>Panel Admin Forum-sandbox</p>
    </footer>
</body>

</html>